[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4

[mysqld]
event-scheduler = ON
default-storage-engine = innodb
plugin-load-add = ha_connect
connect-jvm-path = "/usr/lib/jvm/java-11-openjdk-amd64/lib/server"
connect-class-path= "/usr/lib/jvm/java-11-openjdk-amd64/lib/ojdbc11.jar"
